@tailwind base;
@tailwind components;
@tailwind utilities;

$shadow-black: rgba(0, 0, 0, 0.5);

// image and video resets
img,
video {
  max-width: 100%;
  max-height: 100%;
}

html,
body {
  height: 100%;
}

// forms
.signup-form,
.signin-form,
.change-password-form,
.forgot-password-form,
.reset-password-form {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 2rem;
  width: 90%;
  border-radius: 8px;
  background: #eee;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  margin: 5rem auto;
}

.signin-form__control:nth-child(2) {
  margin-bottom: 0;
}

// property
.property {
  border-radius: 5px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.6);
  // overflow: hidden;

  &__thumbnail {
    border-radius: 5px 5px 0 0;
    // touch-action: none;
  }

  &__price {
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    color: #eee;
    background: rgba(195, 21, 125, 0.9);
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    min-width: 60%;
    translate: -10px 0;
    text-align: center;
  }

  &__title {
    background: #eee;
    text-transform: capitalize;
    padding: 0.5rem;
  }

  &__share {
    &__fallback {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 0.8);

      // &--open {
      //   display: flex;
      // }
    }
  }
}

// property search, filter, sort, pagination controls
.controls {
  &__search {
    &__input {
      border: 0.15rem solid;
      border-right: none;
      border-radius: 2rem 0 0 2rem;
      border-r-0 rounded-r-none border-2 &:focus {
        border-color: black;
      }
    }

    &__icon {
      border: 0.15rem solid;
      border-radius: 0 2rem 2rem 0;
      border-left: 0.15rem solid;
    }
  }

  // property filtering
  .filter {
    &__overlay {
      position: fixed;
      overflow: hidden;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 0;
      transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

      &--open {
        visibility: visible;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
    }

    &__container {
      background: #fff;
      border-radius: 10px;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__banner {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
      // background: #fff;
      flex: 0 0 5%;

      &__label {
      }
    }

    &__list {
      flex: 1 0 85%;
      overflow: hidden auto;

      &__item {
        margin-bottom: 0.5rem;
      }
    }

    &__cta-btns {
      box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.4);
      // background: #fff;
      padding: 0 1rem;
      flex: 0 0 10%;
    }

    &__name {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
      letter-spacing: 0.5px;

      &--secondary {
        font-size: 1rem;
      }
    }

    &__value {
      &__textfields {
        margin-bottom: 0.6rem;
      }
    }

    &__btn {
      $button-color: rgba(132, 6, 90, 0.953);
      border: 2px solid $button-color;
      padding: 5px 15px;
      border-radius: 10px;
      font-size: 0.85rem;
      text-transform: capitalize;
      cursor: pointer;
      transition: 0.5s;
      position: relative;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2) inset;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 0.8rem;
      }

      &--active {
        color: #fff;
        border: 2px solid $button-color;
        background: $button-color;
        transform: scale(1.15);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      }

      &--checked {
        color: #fff;
        border: 2px solid $button-color;
        background: $button-color;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__sort {
  }

  &__paginate {
    flex: 0 0 100%;
  }
}

// account
.account {
  &__info {
    box-shadow: 0 0 20px -5px $shadow-black inset;
    &__avatar {
      &__img {
        display: block;
        border: 5px solid #087ec3;
        border-radius: 100%;
      }
    }
  }
}

.carousel {
  &__slider {
    & > * {
      flex: 0 0 auto;
    }

    &__margin {
      // width: 1rem;
      // height: inherit;
    }
  }
}

.header {
  height: 4rem;
  background: #6e095ad3;

  .logo {
  }

  .navigation {
    &__mobile {
    }

    &__opener {
    }

    .navbar {
    }

    &__desktop {
    }
  }
}

.main {
  min-height: calc(100vh - 4rem);
}

.footer {
  &__navigation {
    &__link {
      white-space: nowrap;
      padding: 0.5rem;
    }
  }
}
