@tailwind base;
@tailwind components;
@tailwind utilities;

// forms
.signup-form,
.signin-form,
.change-password-form,
.forgot-password-form,
.reset-password-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 90%;
  border-radius: 8px;
  background: #eee;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.signin-form__control:nth-child(2) {
  margin-bottom: 0;
}

// property
.property {
  border-radius: 5px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.6);
  // overflow: hidden;

  &__thumbnail {
    border-radius: 5px 5px 0 0;
    // touch-action: none;
  }

  &__price {
  }

  &__share {
    &__fallback {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 0.8);

      // &--open {
      //   display: flex;
      // }
    }
  }
}

// property search, filter, sort, pagination controls
.controls {
  &__search {
    &__input {
      border: 0.15rem solid;
      border-right: none;
      border-radius: 2rem 0 0 2rem;
      border-r-0 rounded-r-none border-2 &:focus {
        border-color: black;
      }
    }

    &__icon {
      border: 0.15rem solid;
      border-radius: 0 2rem 2rem 0;
      border-left: 0.15rem solid;
    }
  }

  // property filtering
  &__filter {
    &__box {
      position: fixed;
      overflow-y: scroll;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100vw;
      height: 0;
      transition: 1s;
      &--open {
        height: 100vh;
      }
    }
  }

  &__sort {
  }

  &__paginate {
    flex: 0 0 100%;
  }
}

// styles for sort popper
// .sort-popper {
//   position: absolute;
//   border-radius: 1rem;
//   top: 1rem;
//   box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.6);
// }

// account
.account {
  &__info {
    &__avatar {
      &__img {
        display: block;
        border: 5px solid #087ec3;
        border-radius: 100%;
      }
    }
  }
}

.carousel {
  &__slider {
    & > * {
      flex: 0 0 auto;
    }

    &__margin {
      // width: 1rem;
      // height: inherit;
    }
  }
}

.header {
  .logo {
  }

  .navigation {
    &__mobile {
    }

    &__opener {
    }

    .navbar {
    }

    &__desktop {
    }
  }
}

.links {
  background: red;
  padding: 20px;
  // display: inline-flex;
  // flex-wrap: wrap;
  display: grid;
  grid-auto-columns: minmax(1fr, 3fr);
}

.link {
  // flex-grow: 0;
  // flex-shrink: 0;
}

.link:not(:last-child) {
  // margin-right: 10px;
}
