@tailwind base;
@tailwind components;
@tailwind utilities;

$shadow-black: rgba(0, 0, 0, 0.5);

// image and video resets
img,
video {
  max-width: 100%;
}

html,
body {
  height: 100%;
}

// forms
.signup-form,
.signin-form,
.change-password-form,
.forgot-password-form,
.reset-password-form {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 2rem;
  width: 90%;
  border-radius: 8px;
  background: #eee;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  margin: 5rem auto;
}

.signin-form__control:nth-child(2) {
  margin-bottom: 0;
}

// property
.property {
  border-radius: 5px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.6);
  // overflow: hidden;

  &__thumbnail {
    border-radius: 5px 5px 0 0;
    // touch-action: none;
  }

  &__price {
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    color: #eee;
    background: rgba(195, 21, 125, 0.9);
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    min-width: 60%;
    translate: -10px 0;
    text-align: center;
  }

  &__title {
    background: #eee;
    text-transform: capitalize;
    padding: 0.5rem;
  }

  &__share {
    &__fallback {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 0.8);

      // &--open {
      //   display: flex;
      // }
    }
  }
}

// property search, filter, sort, pagination controls
.controls {
  &__search {
    &__input {
      border: 0.15rem solid;
      border-right: none;
      border-radius: 2rem 0 0 2rem;
      border-r-0 rounded-r-none border-2 &:focus {
        border-color: black;
      }
    }

    &__icon {
      border: 0.15rem solid;
      border-radius: 0 2rem 2rem 0;
      border-left: 0.15rem solid;
    }
  }

  // property filtering
  .filter {
    &__container {
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 0;
      transition: 0.5s;
      &--open {
        height: 100%;
      }
    }
  }

  &__sort {
  }

  &__paginate {
    flex: 0 0 100%;
  }
}

// styles for sort popper
// .sort-popper {
//   position: absolute;
//   border-radius: 1rem;
//   top: 1rem;
//   box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.6);
// }

// account
.account {
  &__info {
    box-shadow: 0 0 20px -5px $shadow-black inset;
    &__avatar {
      &__img {
        display: block;
        border: 5px solid #087ec3;
        border-radius: 100%;
      }
    }
  }
}

.carousel {
  &__slider {
    & > * {
      flex: 0 0 auto;
    }

    &__margin {
      // width: 1rem;
      // height: inherit;
    }
  }
}

.header {
  //height: 5rem;
  .logo {
  }

  .navigation {
    &__mobile {
    }

    &__opener {
    }

    .navbar {
    }

    &__desktop {
    }
  }
}

.main {
  min-height: 100vh;
}

.footer {
  // overflow: hidden;
  // &::before {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   position: absolute;
  //   top: -90%;
  //   //transform: translateY(50%);
  //   border-radius: 50%;
  //   left: 0;
  //   background: white;
  // }
  &__navigation {
    &__link {
      white-space: nowrap;
      padding: 0.5rem;
    }
  }
}
