@tailwind base;
@tailwind components;
@tailwind utilities;
img,
video {
  max-width: 100%;
  max-height: 100%; }

html,
body {
  height: 100%; }

.signup-form,
.signin-form,
.change-password-form,
.forgot-password-form,
.reset-password-form {
  padding: 2rem;
  width: 90%;
  border-radius: 8px;
  background: #eee;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  margin: 5rem auto; }

.signin-form__control:nth-child(2) {
  margin-bottom: 0; }

.property {
  border-radius: 5px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.6); }
  .property__thumbnail {
    border-radius: 5px 5px 0 0; }
  .property__price {
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    color: #eee;
    background: rgba(195, 21, 125, 0.9);
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    min-width: 60%;
    translate: -10px 0;
    text-align: center; }
  .property__title {
    background: #eee;
    text-transform: capitalize;
    padding: 0.5rem; }
  .property__share__fallback {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.8); }

.controls__search__input {
  border: 0.15rem solid;
  border-right: none;
  border-radius: 2rem 0 0 2rem; }
  border-r-0 rounded-r-none border-2 .controls__search__input:focus {
    border-color: black; }

.controls__search__icon {
  border: 0.15rem solid;
  border-radius: 0 2rem 2rem 0;
  border-left: 0.15rem solid; }

.controls .filter__overlay {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  transition: 0.5s; }
  .controls .filter__overlay--open {
    visibility: visible;
    height: 100%; }

.controls .filter__container {
  background: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.controls .filter__banner {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  background: #fff;
  flex: 0 0 5%; }

.controls .filter__list {
  flex: 1 0 80%;
  overflow: auto; }
  .controls .filter__list__item:not(:last-child) {
    margin-bottom: 0.5rem; }

.controls .filter__cta-btns {
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 0 1rem;
  border-radius: 20px 20px 0 0;
  flex: 0 0 15%; }

.controls .filter__name {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px; }
  .controls .filter__name--secondary {
    font-size: 1rem; }

.controls .filter__btn {
  border: 2px solid rgba(132, 6, 90, 0.953);
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 0.8rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden; }
  .controls .filter__btn--active {
    color: #fff;
    border: 2px solid rgba(132, 6, 90, 0.953);
    background: rgba(132, 6, 90, 0.953);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
  .controls .filter__btn:not(:last-child) {
    margin-right: 0.8rem; }

.controls__paginate {
  flex: 0 0 100%; }

.account__info {
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5) inset; }
  .account__info__avatar__img {
    display: block;
    border: 5px solid #087ec3;
    border-radius: 100%; }

.carousel__slider > * {
  flex: 0 0 auto; }

.header {
  height: 4rem; }

.main {
  min-height: calc(100vh - 4rem); }

.footer__navigation__link {
  white-space: nowrap;
  padding: 0.5rem; }
